<!--USER VIEW-->
@model InterventWebApp.RecipeModel
@using InterventWebApp
@{
    ViewBag.Title = "RecipeList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main recipes">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <h2>@Translate.Message("L662")</h2>
                <div class="grid-x grid-margin-x">
                    <div class="small-12 medium-3 cell">
                        @Html.DropDownListFor(m => m.foodGroup, Model.foodGroups, "--" + Translate.Message("L1684") + "--", new { @onchange = "Search()" })
                    </div>
                    <div class="small-12 medium-3 end cell">
                        @Html.DropDownListFor(m => m.course, Model.courses, "--" + Translate.Message("L1685") + "--", new { @onchange = "Search()" })
                    </div>
                    <div class="small-12 medium-3 end cell">
                        @Html.DropDownListFor(m => m.feature, Model.features, "--" + Translate.Message("L1686") + "--", new { @onchange = "Search()" })
                    </div>
                    <div class="small-12 medium-3 end cell">
                        <input id="search" type="text" placeholder="@Translate.Message("L1687")" />
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <div id="recipe-results"></div>
            </div>

            <div class="cell small-12">
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <li id="first" aria-disabled="true"><a>&laquo;</a></li>
                    <li id="previous" class="pagination-previous" aria-disabled="true"><a>&lt;</a></li>
                    <li id="numeric"></li>
                    <li id="next" class="pagination-next"><a>&gt;</a></li>
                    <li id="last"><a>&raquo;</a></li>
                </ul>
            </div>
            @*<div class="pagination-centered"></div>*@
        </div>
    </div>
</section>
<div id="recipe-data" class="reveal large recipe-modal-container" data-reveal data-close-on-click="false" data-close-on-esc="false"></div>
<script src="@Url.Content("~/Scripts/Pager.js")?v=@CommonUtility.GetRandom()"></script>
<script>
    var startIndex = 1;
    var pageSize = 12;
    var totalRecords = 0;
    var currentPage = 0;
    var totalPages = 0;
    //Activate the detailed info
    $(document).on('click', '.item', function () {
        if ($(this).find('.control').hasClass('active')) {
            $(this).parent().find('.detailed-info').addClass('hide');
            $(this).find('.control').removeClass('active');
        } else {
            $(this).parent().find('.detailed-info').removeClass('hide');
            $(this).find('.control').addClass('active');
        }
    });
    //display any datepickers
    $(document).ready(function () {
        SearchRecipes();
    });

    function Recipemodel() {
        var recipeId = window.location.search.substring(1);
        if (recipeId > 0) {
            $('#recipe-data').load("Recipe/" + recipeId + "/");
            $('#recipe-data').foundation('open');
        }
    }

    function GotoPage(page) {
        currentPage = page;
        startIndex = page * pageSize + 1;
        SearchRecipes();
    }

    $('#search').on('keyup', function () {
        //if (this.value.length < 3)
        //    return;
        Search();
    });

    function Search() {
        startIndex = 1;
        pageSize = 12;
        totalRecords = 0;
        currentPage = 0;
        totalPages = 0;
        SearchRecipes();
    }

    function SearchRecipes() {
        var recipeName = $("#search").val();
        var foodGroup = $("#foodGroup").val();
        var course = $("#course").val();
        var feature = $("#feature").val();
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: 'SearchRecipes',
            async: true,
            cache: true,
            data: {
                recipeName: recipeName, foodGroup: foodGroup, course: course, feature: feature, page: currentPage, pageSize: pageSize, totalRecords: totalRecords
            },
            success: function (data) {
                totalRecords = data.Record.totalRecords;
                totalPages = parseInt((totalRecords + pageSize - 1) / pageSize);
                if (data.Record.translatedrecipes != null) {
                    displayrecipes(data.Record.translatedrecipes);
                }
                else if (data.Record.recipes != null) {
                    displayrecipes(data.Record.recipes);
                }
                else {
                    $('#recipe-results').html('');
                }
                AddPager();

                /**/
                Recipemodel();
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            RedirectToErrorPage(jqXHR.status);
        });
    }

    function displayrecipes(data) {
        var recipesHtml = [];
        recipesHtml.push("<ul class='grid-x grid-margin-x grid-padding-y small-up-1 medium-up-2 large-up-3'>");
        for (i in data) {
            var recipe = data[i];
            recipesHtml.push("<li class='cell'><div class='recipe' data-open='recipe-data' data-modal-path='Recipe/" + recipe.Id + "/'>" +
                            "<div class='recipe-thumbnail'><img src='" + recipe.ImageURL + "'></div><div class='recipe-title'>" + recipe.Name + "</div>" +
                            "<div class='recipe-footer'><div class='preparation-time'><i class='fa fa-heartbeat'></i>" +
                            "<span class='time'>" + recipe.Calories + "</span> @Translate.Message("L398")</div><div class='ingredients'>" +
                            "<i class='fa fa-spoon'></i><span class='ingredients-count'>" + recipe.Yield + "</span> @Translate.Message("L1889")</div></div></div>" +
                            "</li>");

        }
        recipesHtml.push("</ul>");
        $('#recipe-results').html(recipesHtml.join(''));

        $("[data-open]").on('click', function(e){
            var attr_val = $(this).data("open");
            var attr_path = $(this).data("modal-path");
            if(attr_val && attr_path){
                e.preventDefault();
                var $modal1 = $('#'+attr_val);
                $.ajax(attr_path).done(function (resp) {
                    $modal1.html(resp).foundation('open');
                });
            }
        });
    }
</script>
