@using InterventWebApp;
<div class="grid-x grid-margin-x">
    <div class="cell">
        <h2>@Translate.Message("L276")</h2>
        <form data-abide="ajax" id="bpinfo-form" novalidate="novalidate">
            @*<h4>@Translate.Message("L669")</h4>*@
            <p>@Translate.Message("L670")</p>
            <p>@Translate.Message("L671")</p>
            <h4>@Translate.Message("L672")</h4>
            <table width="100%">
                <tr>
                    <th>@Translate.Message("L673")</th>
                    <th>@Translate.Message("L674")</th>
                    <th>@Translate.Message("L675")</th>
                </tr>
                <tr>
                    <td>@Translate.Message("L676")</td>
                    <td>@Translate.Message("L677")</td>
                    <td>@Translate.Message("L678")</td>
                </tr>
                <tr>
                    <td>@Translate.Message("L685")</td>
                    <td>@Translate.Message("L686")</td>
                    <td>@Translate.Message("L678")</td>
                </tr>
                <tr>
                    <td>@Translate.Message("L679")</td>
                    <td>@Translate.Message("L680")</td>
                    <td>80-89</td>
                </tr>
                <tr>
                    <td>@Translate.Message("L682")</td>
                    <td>@Translate.Message("L683")</td>
                    <td>@Translate.Message("L684")</td>
                </tr>
                <tr>
                    <td>@Translate.Message("L2649")</td>
                    <td>@Translate.Message("L2650") 180</td>
                    <td>@Translate.Message("L2650") 120</td>
                </tr>
            </table>
            <p>@Translate.Message("L2648")</p>
            <p>@Translate.Message("L688")</p>
            <p>@Translate.Message("L689")</p>
            <ul>
                <li>@Translate.Message("L690")</li>
                <li>@Translate.Message("L691")</li>
                <li>@Translate.Message("L692")</li>
                <li>@Translate.Message("L693")</li>                
            </ul>
			<p>@Translate.Message("L694")</p>
        </form>
    </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
