@using InterventWebApp;
<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>@Translate.Message("L150")</h2>
    <form data-abide="ajax" id="cancerinfo-form" novalidate="novalidate">
      @*<h4>@Translate.Message("L878")</h4>*@
      <p>@Translate.Message("L879")</p>
      <p>@Translate.Message("L880")</p>
      <p>@Translate.Message("L881")</p>
      <p>@Translate.Message("L882")</p>
      <ul>
        <li>@Translate.Message("L883")</li>
        <li>@Translate.Message("L884")</li>
        <li>@Translate.Message("L885")</li>
        <li>@Translate.Message("L886")</li>
        <li>@Translate.Message("L887")</li>
        <li>@Translate.Message("L888")</li>
      </ul>
      <p>@Translate.Message("L889")</p>
      <ul>
        <li>@Translate.Message("L890")</li>
        <li>@Translate.Message("L891")</li>
        <li>@Translate.Message("L892")</li>
        <li>@Translate.Message("L893")</li>
      </ul>
      <p>@Translate.Message("L894")</p>
      <ul>
        <li>@Translate.Message("L895")</li>
        <li>@Translate.Message("L896")</li>
        <li>@Translate.Message("L897")</li>
        <li>@Translate.Message("L898")</li>
        <li>@Translate.Message("L899")</li>
      </ul>
      <p>@Translate.Message("L900")</p>
      <p>@Translate.Message("L901")</p>
      <p>@Translate.Message("L902")</p>
      <h4>@Translate.Message("L903")</h4>
      <p>@Translate.Message("L904")</p>
      <p>@Translate.Message("L905")</p>
      <ul>
        <li>@Translate.Message("L906")</li>
        <li>@Translate.Message("L907")</li>
        <li>@Translate.Message("L908")</li>
        <li>@Translate.Message("L909")</li>
        <li>@Translate.Message("L910")</li>
      </ul>
      <p>@Translate.Message("L911")</p>
      <ul>
        <li>@Translate.Message("L912")</li>
        <li>@Translate.Message("L913")</li>
        <li>@Translate.Message("L914")</li>
        <li>@Translate.Message("L915")</li>
        <li>@Translate.Message("L916")</li>
        <li>@Translate.Message("L917")</li>
        <li>@Translate.Message("L918")</li>
      </ul>
      <p>@Translate.Message("L919")</p>
      <p>@Translate.Message("L920")</p>
    </form>
  </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
