@using InterventWebApp;
<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>@Translate.Message("L242") </h2>
    <form data-abide="ajax" id="ctinfo-form" novalidate="novalidate">
      @*<h4>@Translate.Message("L701")</h4>*@
      <p>@Translate.Message("L702")</p>
      <p>@Translate.Message("L703")</p>
      <p>@Translate.Message("L704")</p>
      <p>@Translate.Message("L705")</p>
      <p>@Translate.Message("L706")</p>
      <ul>
        <li>@Translate.Message("L707")</li>
        <li>@Translate.Message("L708")</li>
        <li>@Translate.Message("L709")</li>
        <li>@Translate.Message("L710")</li>
      </ul>
      <p>@Translate.Message("L711")</p>
      <ul>
        <li>@Translate.Message("L712")</li>
        <li>@Translate.Message("L713")</li>
        <li>@Translate.Message("L714")</li>
      </ul>
      <p>@Translate.Message("L715")</p>
      <ul>
        <li>@Translate.Message("L716")</li>
        <li>@Translate.Message("L717")</li>
        <li>@Translate.Message("L718")</li>
        <li>@Translate.Message("L719")</li>
        <li>@Translate.Message("L720")</li>
        <li>@Translate.Message("L721")</li>
        <li>@Translate.Message("L722")</li>
      </ul>
      <p>@Translate.Message("L723")</p>
    </form>
  </div>
</div>
</p>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
