@using InterventWebApp;
@model DiabetesInfoModel
<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>@Translate.Message("L241")</h2>
    <form data-abide="ajax" id="diabetesinfo-form" novalidate="novalidate">
      @*<h4>@Translate.Message("L808")</h4>*@
      @if (Model.Diabetes)
      {
        <text>
          <p>@Translate.Message("L809")</p>
          <p>@Html.Raw(Translate.Message("L810"))</p>
          <p>@Html.Raw(Translate.Message("L811"))</p>
          <p>@Translate.Message("L812")</p>
          <ul>
            <li>@Translate.Message("L813")</li>
            <li>@Translate.Message("L814")</li>
          </ul>
          <p>@Translate.Message("L815")</p>
          <p>@Translate.Message("L816")</p>
          <p>@Translate.Message("L817")</p>
          <ul>
            <li>@Translate.Message("L818")</li>
            <li>@Translate.Message("L819")</li>
            <li>@Translate.Message("L820")</li>
          </ul>
          <p>@Translate.Message("L821")</p>
          <p>@Translate.Message("L822")</p>
          <p>@Translate.Message("L823")</p>
          <ul>
            <li>@Translate.Message("L824")</li>
            <li>@Translate.Message("L825")</li>
            <li>@Translate.Message("L826")</li>
            <li>@Translate.Message("L827")</li>
          </ul>
          <p>@Translate.Message("L828")</p>
          <ul>
            <li>@Translate.Message("L829")</li>
            <li>@Translate.Message("L830")</li>
            <li>@Translate.Message("L831")</li>
            <li>@Translate.Message("L832")</li>
            <li>@Translate.Message("L833")</li>
            <li>@Translate.Message("L834")</li>
          </ul>
          <h4>@Translate.Message("L835")</h4>
          <p>@Translate.Message("L836")</p>
          <p>@Translate.Message("L837")</p>
          <ul>
            <li>@Translate.Message("L838")</li>
            <li>@Translate.Message("L839")</li>
            <li>@Translate.Message("L840")</li>
            <li>@Translate.Message("L841")</li>
            <li>@Translate.Message("L842")</li>
          </ul>
          <p>@Translate.Message("L843")</p>
          <ul>
            <li>@Translate.Message("L844")</li>
            <li>@Translate.Message("L845")</li>
            <li>@Translate.Message("L846")</li>
          </ul>
          <h4>@Translate.Message("L847")</h4>
          <p>@Translate.Message("L848")</p>
          <ul>
            <li>@Translate.Message("L849")</li>
            <li>@Translate.Message("L852")</li>
            <li>@Translate.Message("L850")</li>
            <li>@Translate.Message("L851")</li>
            <li>@Translate.Message("L853")</li>
            <li>@Translate.Message("L854")</li>
          </ul>
        </text>
      }
      else
      {
        <text>
          <p>@Translate.Message("L855")</p>
          <p>@Html.Raw(Translate.Message("L856"))</p>
          <p>@Translate.Message("L812")</p>
          <ul>
            <li>@Translate.Message("L813")</li>
            <li>@Translate.Message("L814")</li>
          </ul>
          <p>@Translate.Message("L857")</p>
          <ul>
            <li>@Translate.Message("L858")</li>
            <li>@Translate.Message("L859")</li>
            <li>@Translate.Message("L860")</li>
          </ul>
          <p>@Translate.Message("L861")</p>
          <p>@Translate.Message("L862")</p>
          <p>@Translate.Message("L863")</p>
          <ul>
            <li>@Translate.Message("L864")</li>
            <li>@Translate.Message("L865")</li>
            <li>@Translate.Message("L866")</li>
          </ul>
        </text>
      }
    </form>
  </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
