@using InterventWebApp;
<div class="grid-x grid-margin-x report">
  <div class="cell">
    <h2>@Translate.Message("L239")</h2>
    <form data-abide="ajax" id="heartdiseaseinfo-form" novalidate="novalidate">
      @*<h4>@Translate.Message("L599")</h4>*@
      <p>@Translate.Message("L600")</p>
      <p>@Translate.Message("L601")</p>
      <p>@Translate.Message("L602")</p>
      <p>@Translate.Message("L603")</p>
      <p>@Translate.Message("L604")</p>
      <ul>
        <li>@Translate.Message("L605")</li>
        <li>@Translate.Message("L606")</li>
        <li>@Translate.Message("L607")</li>
        <li>@Translate.Message("L608")</li>
        <li>@Translate.Message("L609")</li>
        <li>@Translate.Message("L610")</li>
        <li>@Translate.Message("L611")</li>
        <li>@Translate.Message("L612")</li>
        <li>@Translate.Message("L613")</li>
        <li>@Translate.Message("L614")</li>
      </ul>
      <h4>@Translate.Message("L621")</h4>
      <p>@Translate.Message("L622")</p>
      <ul>
        <li>@Translate.Message("L623")</li>
        <li>@Translate.Message("L624")</li>
        <li>@Translate.Message("L625")</li>
      </ul>
      <p>@Translate.Message("L626")</p>
      <ul>
        <li>@Translate.Message("L627")</li>
        <li>@Translate.Message("L628")</li>
        <li>@Translate.Message("L629")</li>
      </ul>
      <p>@Translate.Message("L630")</p>
      <p>@Translate.Message("L631")</p>
      <ul>
        <li>@Translate.Message("L632")</li>
        <li>@Translate.Message("L633")</li>
        <li>@Translate.Message("L634")</li>
      </ul>
      <p>@Translate.Message("L635")</p>
      <ul>
        <li>@Translate.Message("L636")</li>
        <li>@Translate.Message("L637")</li>
        <li>@Translate.Message("L638")</li>
        <li>@Translate.Message("L639")</li>
      </ul>
      <p>@Translate.Message("L640")</p>
    </form>
  </div>
</div>
<hr />
<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>@Translate.Message("L240") </h2>
    <form data-abide="ajax" id="strokeinfo-form" novalidate="novalidate">
      @*<h4>@Translate.Message("L615")</h4>*@
      <p>@Translate.Message("L616")</p>
      <p>@Translate.Message("L617")</p>
      <p>@Translate.Message("L618")</p>
      <p>@Translate.Message("L619")</p>
      <p>@Translate.Message("L620")</p>
      <h4>@Translate.Message("L641")</h4>

      <p>@Translate.Message("L642")</p>
      <ul>
        <li>@Translate.Message("L643")</li>
        <li>@Translate.Message("L644")</li>
        <li>@Translate.Message("L645")</li>
        <li>@Translate.Message("L646")</li>
      </ul>
      <p>@Translate.Message("L647")</p>
      <p>@Translate.Message("L648")</p>
      <ul>
        <li>@Translate.Message("L649")</li>
        <li>@Translate.Message("L650")</li>
        <li>@Translate.Message("L651")</li>
      </ul>
      <p>@Translate.Message("L652")</p>
      <ul>
        <li>@Translate.Message("L653")</li>
        <li>@Translate.Message("L654")</li>
        <li>@Translate.Message("L655")</li>
      </ul>
      <p>@Translate.Message("L656")</p>
      <ul>
        <li>@Translate.Message("L657")</li>
        <li>@Translate.Message("L658")</li>
      </ul>
    </form>
  </div>
</div>
<hr />
<div class="grid-x grid-margin-x">
    <div class="cell">
        <h2>@Translate.Message("L982") </h2>
        <form data-abide="ajax" id="strokeinfo-form" novalidate="novalidate">
            @Html.Raw(Translate.Message("L984"))
        </form>
    </div>
</div>

<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
