@using InterventWebApp;
<div class="grid-x grid-margin-x">
    <div class="cell">
        <h2>@Translate.Message("L272")</h2>
        <form data-abide="ajax" id="nutritioninfo-form" novalidate="novalidate">
            @*<h4>@Translate.Message("L1065")</h4>*@
            <p>@Translate.Message("L1066")</p>
            <p>@Translate.Message("L1067")</p>
            <ul>
                <li>
                    @Translate.Message("L1068")
                </li>
                <li>
                    @Translate.Message("L1069")
                </li>
                <li>
                    @Translate.Message("L1070")
                </li>
                <li>
                    @Translate.Message("L1071")
                </li>
                <li>
                    @Translate.Message("L1072")
                </li>
                <li>
                    @Translate.Message("L1073")
                </li>
            </ul>
            <p>@Translate.Message("L1074")</p>
            <ul>
                <li>
                    @Translate.Message("L1075")
                </li>
                <li>
                    @Translate.Message("L1076")
                </li>
                <li>
                    @Translate.Message("L1077")
                </li>
                <li>
                    @Translate.Message("L289")
                </li>                
                <li>
                    @Translate.Message("L1078")
                </li>
                <li>
                    @Translate.Message("L1079")
                </li>
                <li>
                    @Translate.Message("L1080")
                </li>
                <li>
                    @Translate.Message("L1081")
                </li>
                <li>
                    @Translate.Message("L1082")
                </li>
            </ul>
            <p>@Translate.Message("L1083")</p>
            <table width="100%">
                <tbody>
                    <tr>
                        <th width="25%">@Translate.Message("L1084")</th>
                        <th width="40%">@Translate.Message("L1085")</th>
                        <th width="35%">@Translate.Message("L1086")</th>
                    </tr>
                    <tr>
                        <td>@Translate.Message("L1087")</td>
                        <td>@Translate.Message("L1088")</td>
                        <td>
                            <p>@Translate.Message("L1089")</p>
                            <p>@Translate.Message("L1090")</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1091")</td>
                        <td>@Translate.Message("L1092")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1093")</td>
                        <td>@Translate.Message("L1094")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1095")</td>
                        <td>@Translate.Message("L1096")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1097")</td>
                        <td>@Translate.Message("L1098")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1099")</td>
                        <td>@Translate.Message("L1100")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1101")</td>
                        <td>@Translate.Message("L1102")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1103")</td>
                        <td>@Translate.Message("L1104")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1105")</td>
                        <td>@Translate.Message("L1106")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1107")</td>
                        <td>@Translate.Message("L1108")</td>
                    </tr>
                    <tr>
                        <td>@Translate.Message("L1109")</td>
                        <td>@Translate.Message("L1110")</td>
                        <td>@Translate.Message("L1111")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1112")</td>
                        <td>@Translate.Message("L1113")</td>
                    </tr>
                    <tr>
                        <td>@Translate.Message("L1114")</td>
                        <td>@Translate.Message("L1115")</td>
                        <td>@Translate.Message("L1116")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1117")</td>
                        <td>@Translate.Message("L1118")</td>
                    </tr>
                    <tr>
                        <td>@Translate.Message("L1119")</td>
                        <td>@Translate.Message("L1120")</td>
                        <td>@Translate.Message("L1121")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1122")</td>
                        <td>@Translate.Message("L1123")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1124")</td>
                        <td>@Translate.Message("L1125")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1126")</td>
                        <td>@Translate.Message("L1127")</td>
                    </tr>
                    <tr>
                        <td>@Translate.Message("L1128")</td>
                        <td>@Translate.Message("L1129")</td>
                        <td>@Translate.Message("L1130")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1131")</td>
                        <td>@Translate.Message("L1132")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1133")</td>
                        <td>@Translate.Message("L1134")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1135")</td>
                        <td>@Translate.Message("L1136")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1137")</td>
                        <td>@Translate.Message("L1138")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1139")</td>
                        <td>@Translate.Message("L1140")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1141")</td>
                        <td>@Translate.Message("L1142")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1143")</td>
                        <td>@Translate.Message("L1144")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Translate.Message("L1145")</td>
                        <td>@Translate.Message("L1146")</td>
                    </tr>
                </tbody>
            </table>
            <p>@Translate.Message("L1147")</p>
        </form>
    </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
