@using InterventWebApp;
<div class="grid-x grid-margin-x">
    <div class="cell">
        <h2>@Translate.Message("L271")</h2>
        <form data-abide="ajax" id="painfo-form" novalidate="novalidate">
            @*<h4>@Translate.Message("L1013")</h4>*@
            <p>@Translate.Message("L1015")</p>
            <p>@Translate.Message("L1016"):</p>
            <ul>
                <li>
                    @Translate.Message("L1017")
                </li>
                <li>
                    @Translate.Message("L1018")
                </li>
                <li>
                    @Translate.Message("L1019")
                </li>
                <li>
                    @Translate.Message("L1020")
                </li>
                <li>
                    @Translate.Message("L1021")
                </li>
                <li>
                    @Translate.Message("L1022")
                </li>
                <li>
                    @Translate.Message("L1023")
                </li>
                <li>
                    @Translate.Message("L1024")
                </li>
                <li>
                    @Translate.Message("L1025")
                </li>
                <li>
                    @Translate.Message("L1026")
                </li>
                <li>
                    @Translate.Message("L1027")
                </li>
                <li>
                    @Translate.Message("L1028")
                </li>
            </ul>
            <p>@Translate.Message("L1029")</p>
            <ul>
                <li>
                    @Translate.Message("L1030")
                </li>
                <li>
                    @Translate.Message("L1031")
                </li>
                <li>
                    @Translate.Message("L1032")
                </li>
                <li>
                    @Translate.Message("L1033")
                </li>
                <li>
                    @Translate.Message("L1034")
                </li>
                <li>
                    @Translate.Message("L1035")
                </li>
            </ul>
            <p>@Translate.Message("L1036"):</p>
            <ul>
                <li>
                    @Translate.Message("L1037")
                </li>
                <li>
                    @Translate.Message("L1038")
                </li>
                <li>
                    @Translate.Message("L1039")
                </li>
                <li>
                    @Translate.Message("L1040")
                </li>
                <li>
                    @Translate.Message("L1041")
                </li>
                <li>
                    @Translate.Message("L1042")
                </li>
                <li>
                    @Translate.Message("L1043")
                </li>
            </ul>
            <p>@Translate.Message("L1044")</p>

            <h4>@Translate.Message("L1045")</h4>

            <p class="strong">
                @Translate.Message("L1046") : @Translate.Message("L1047")
            </p>

            <p class="strong">
                @Translate.Message("L1048") : @Translate.Message("L1049")
            </p>

            <p class="strong">
                @Translate.Message("L1050") : @Translate.Message("L1051")
            </p>

            <h4>@Translate.Message("L1052")</h4>

            <ul>
                <li>
                    @Translate.Message("L1053")
                </li>
                <li>
                    @Translate.Message("L1054")
                </li>
                <li>
                    @Translate.Message("L1055")
                </li>
                <li>
                    @Translate.Message("L1056")
                </li>
                <li>
                    @Translate.Message("L1057")
                </li>
            </ul>

        </form>
    </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
