@using InterventWebApp;
<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>@Translate.Message("L149")</h2>
    <form data-abide="ajax" id="stressinfo-form" novalidate="novalidate">
      @*<h4>@Translate.Message("L1238")</h4>*@
      <p>@Translate.Message("L1239")</p>
      <p>@Translate.Message("L1240")</p>
      <ul>
        <li>
          @Translate.Message("L1241")
        </li>
        <li>
          @Translate.Message("L1242")
        </li>
        <li>
          @Translate.Message("L1243")
        </li>
        <li>
          @Translate.Message("L1244")
        </li>
        <li>
          @Translate.Message("L1245")
        </li>
        <li>
          @Translate.Message("L1246")
        </li>
        <li>
          @Translate.Message("L1247")
        </li>
        <li>
          @Translate.Message("L1248")
        </li>
        <li>
          @Translate.Message("L1249")
        </li>
      </ul>
      <h4>@Translate.Message("L1250")</h4>
      <p>@Translate.Message("L1251")</p>
      <ul>
        <li>
          @Translate.Message("L1252")
        </li>
        <li>
          @Translate.Message("L1253")
        </li>
        <li>
          @Translate.Message("L1254")
        </li>
        <li>
          @Translate.Message("L1255")
        </li>
        <li>
          @Translate.Message("L1256")
        </li>
        <li>
          @Translate.Message("L1257")
        </li>
        <li>
          @Translate.Message("L1258")
        </li>
        <li>
          @Translate.Message("L1259")
        </li>
        <li>
          @Translate.Message("L1260")
        </li>
      </ul>
    </form>
  </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>


