@using InterventWebApp;
<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>@Translate.Message("L273")</h2>
    <form data-abide="ajax" id="stressinfo-form" novalidate="novalidate">
      @*<h4>@Translate.Message("L1156")</h4>*@
      <p>@Translate.Message("L1157")</p>
      <p>@Translate.Message("L1158")</p>
      <p>@Translate.Message("L1159")</p>
      <p>@Translate.Message("L1160")</p>
      <h4>@Translate.Message("L1161")</h4>
      <ul>
        <li>
          @Translate.Message("L1162")
        </li>
        <li>
          @Translate.Message("L1163")
        </li>
        <li>
          @Translate.Message("L1164")
        </li>
        <li>
          @Translate.Message("L1165")
        </li>
      </ul>
      <h4>@Translate.Message("L1166")</h4>
      <ul>
        <li>
          @Translate.Message("L1167")
        </li>
        <li>
          @Translate.Message("L1168")
        </li>
        <li>
          @Translate.Message("L1169")
        </li>
        <li>
          @Translate.Message("L1170")
        </li>
        <li>
          @Translate.Message("L1171")
        </li>
      </ul>
      <h4>@Translate.Message("L1172")</h4>
      <ul>
        <li>
          @Translate.Message("L1173")
        </li>
        <li>
          @Translate.Message("L1174")
        </li>
        <li>
          @Translate.Message("L1175")
        </li>
        <li>
          @Translate.Message("L1176")
        </li>
        <li>
          @Translate.Message("L1177")
        </li>
        <li>
          @Translate.Message("L1178")
        </li>
        <li>
          @Translate.Message("L1179")
        </li>
      </ul>
      <p>@Translate.Message("L1180")</p>
      <ul>
        <li>
          @Translate.Message("L1181")
        </li>
        <li>
          @Translate.Message("L1182")
        </li>
        <li>
          @Translate.Message("L1183")
        </li>
        <li>
          @Translate.Message("L1184")
        </li>
        <li>
          @Translate.Message("L1185")
        </li>
        <li>
          @Translate.Message("L1186")
        </li>
        <li>
          @Translate.Message("L1187")
        </li>
        <li>
          @Translate.Message("L1188")
        </li>
        <li>
          @Translate.Message("L1189")
        </li>
      </ul>
      <p>@Translate.Message("L1190")</p>
      <p>@Translate.Message("L1191")</p>
      <p>@Translate.Message("L1192")</p>
      <table width="100%">
        <tr>
          <th>@Translate.Message("L1193")</th>
          <th>@Translate.Message("L1194")</th>
          <th>@Translate.Message("L1195")</th>
          <th>@Translate.Message("L1196")</th>
        </tr>
        <tr>
          <td>@Translate.Message("L1197")</td>
          <td>@Translate.Message("L1202")</td>
          <td>@Translate.Message("L1207")</td>
          <td>@Translate.Message("L1211")</td>
        </tr>

        <tr>
          <td>@Translate.Message("L1198")</td>
          <td>@Translate.Message("L1203")</td>
          <td>@Translate.Message("L1208")</td>
          <td>@Translate.Message("L1212")</td>
        </tr>

        <tr>
          <td>@Translate.Message("L1199")</td>
          <td>@Translate.Message("L1204")</td>
          <td>@Translate.Message("L1209")</td>
          <td>@Translate.Message("L1213")</td>
        </tr>

        <tr>
          <td>@Translate.Message("L1200")</td>
          <td>@Translate.Message("L1205")</td>
          <td>@Translate.Message("L1210")</td>
          <td>@Translate.Message("L1214")</td>
        </tr>

        <tr>
          <td>@Translate.Message("L1201")</td>
          <td>@Translate.Message("L1206")</td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <p>@Translate.Message("L1215")</p>
      <p>@Translate.Message("L1216")</p>
      <p>@Translate.Message("L1217")</p>
      <p>@Translate.Message("L1218")</p>
      <p>@Translate.Message("L1219")</p>
      <p>@Translate.Message("L1220")</p>
      <p>@Translate.Message("L1221")</p>
      <p>@Translate.Message("L1222")</p>
      <p>@Translate.Message("L1223")</p>
      <p>@Translate.Message("L1224")</p>
    </form>
  </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

