@using InterventWebApp;
<div class="grid-x grid-margin-x">
    <div class="cell">
        <h2>@Translate.Message("L240")</h2>
        <form data-abide="ajax" id="strokeinfo-form" novalidate="novalidate">
            @*<h4>@Translate.Message("L615")</h4>*@
            <p>@Translate.Message("L616")</p>
            <p>@Translate.Message("L617")</p>
            <p>@Translate.Message("L618")</p>
            <p>@Translate.Message("L619")</p>
            <p>@Translate.Message("L620")</p>
            <h4>@Translate.Message("L641")</h4>

            <p>@Translate.Message("L642")</p>
            <ul>
                <li>@Translate.Message("L643")</li>
                <li>@Translate.Message("L644")</li>
                <li>@Translate.Message("L645")</li>
                <li>@Translate.Message("L646")</li>
            </ul>
            <p>@Translate.Message("L647")</p>
            <p>@Translate.Message("L648")</p>
            <ul>
                <li>@Translate.Message("L649")</li>
                <li>@Translate.Message("L650")</li>
                <li>@Translate.Message("L651")</li>
            </ul>
            <p>@Translate.Message("L652")</p>
            <ul>
                <li>@Translate.Message("L653")</li>
                <li>@Translate.Message("L654")</li>
                <li>@Translate.Message("L655")</li>
            </ul>
            <p>@Translate.Message("L656")</p>
            <ul>
                <li>@Translate.Message("L657")</li>
                <li>@Translate.Message("L658")</li>
            </ul>
        </form>
    </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
