@using InterventWebApp;
@model TobaccoInfoModel
<div class="grid-x grid-margin-x">
    <div class="cell">
        <h2>@Translate.Message("L1060")</h2>
        <form data-abide="ajax" id="tobaccoinfo-form" novalidate="novalidate">
            @*<h4>@Translate.Message("L1266") </h4>*@
            @if (Model.SmokeCig == 1)
            {
                <text>
                    <p>@Translate.Message("L1267")</p>
                    <p>@Translate.Message("L1268")</p>
                    <p>@Translate.Message("L1269")</p>
                    <p>@Translate.Message("L1270")</p>
                    <ul>
                        <li>
                            @Translate.Message("L1271")
                        </li>
                        <li>
                            @Translate.Message("L1272")
                        </li>
                        <li>
                            @Translate.Message("L1273")
                        </li>
                        <li>
                            @Translate.Message("L1274")
                        </li>
                        <li>
                            @Translate.Message("L1275")
                        </li>
                        <li>
                            @Translate.Message("L1276")
                        </li>
                        <li>
                            @Translate.Message("L1277")
                        </li>
                        <li>
                            @Translate.Message("L1278")
                        </li>
                    </ul>
                    <p>@Translate.Message("L1279")</p>
                    <p>@Translate.Message("L1280"):</p>
                    <ul>
                        <li>
                            @Translate.Message("L1281")
                        </li>
                        <li>
                            @Translate.Message("L1282")
                        </li>
                        <li>
                            @Translate.Message("L1283")
                        </li>
                        <li>
                            @Translate.Message("L1284")
                        </li>
                        <li>
                            @Translate.Message("L1285")
                        </li>
                        <li>
                            @Translate.Message("L1286")
                        </li>
                        <li>
                            @Translate.Message("L1287")
                        </li>
                    </ul>
                    <h4>@Translate.Message("L1288") </h4>
                    <p>@Translate.Message("L1289")</p>
                    <p>@Translate.Message("L1290")</p>
                    <p>@Translate.Message("L1291")</p>
                    <p>@Translate.Message("L1292")</p>
                    <p>@Translate.Message("L1293")</p>
                    <p>@Translate.Message("L1294")</p>
                    <p>@Translate.Message("L1295")</p>
                    <p>@Translate.Message("L1296")</p>
                    <p>@Translate.Message("L1297")</p>
                </text>
            }
            else
            {
                if (Model.OtherTobacco == 1 && Model.SmokelessTob == 1)
                {
                    <text>
                        <p>@Translate.Message("L1298")</p>
                        <ul>
                            <li>
                                @Translate.Message("L1299")
                            </li>
                            <li>
                                @Translate.Message("L1300")
                            </li>
                            <li>
                                @Translate.Message("L1301")
                            </li>
                            <li>
                                @Translate.Message("L1302")
                            </li>
                            <li>
                                @Translate.Message("L1303")
                            </li>
                            <li>
                                @Translate.Message("L1304")
                            </li>
                            <li>
                                @Translate.Message("L1305")
                            </li>
                            <li>
                                @Translate.Message("L1306")
                            </li>
                            <li>
                                @Translate.Message("L1307")
                            </li>
                        </ul>
                        <p>@Translate.Message("L1308")</p>
                        <p>@Translate.Message("L1309"):</p>
                        <p>@Translate.Message("L1310"):</p>
                        <p>@Translate.Message("L1311"):</p>
                        <p>@Translate.Message("L1312"):</p>
                        <ul>
                            <li>
                                @Translate.Message("L1313")
                            </li>
                            <li>
                                @Translate.Message("L1314")
                            </li>
                            <li>
                                @Translate.Message("L1315")
                            </li>
                            <li>
                                @Translate.Message("L1316")
                            </li>
                            <li>
                                @Translate.Message("L1317")
                            </li>
                            <li>
                                @Translate.Message("L1318")
                            </li>
                            <li>
                                @Translate.Message("L1319")
                            </li>
                        </ul>
                        <h4>@Translate.Message("L1320") </h4>
                        <p>@Translate.Message("L1321")</p>
                        <p>@Translate.Message("L1290")</p>
                        <p>@Translate.Message("L1323")</p>
                        <p>@Translate.Message("L1324")</p>
                        <p>@Translate.Message("L1325")</p>
                        <p>@Translate.Message("L1326")</p>
                        <p>@Translate.Message("L1295")</p>
                        <p>@Translate.Message("L1296")</p>
                        <p>@Translate.Message("L1297")</p>
                        <p>@Translate.Message("L1322")</p>
                        <ul>
                            <li>
                                @Translate.Message("L1327")
                            </li>
                            <li>
                                @Translate.Message("L1328")
                            </li>
                            <li>
                                @Translate.Message("L1329")
                            </li>
                        </ul>
                        <p>@Translate.Message("L1330")</p>
                    </text>
                }
                else if (Model.OtherTobacco == 1 && (Model.Cigar == 1 || Model.Pipe == 1))
                {
                    <text>
                        <p>@Translate.Message("L1331")</p>
                        <ul>
                            <li>
                                @Translate.Message("L1299")
                            </li>
                            <li>
                                @Translate.Message("L1300")
                            </li>
                            <li>
                                @Translate.Message("L1301")
                            </li>
                            <li>
                                @Translate.Message("L1302")
                            </li>
                            <li>
                                @Translate.Message("L1303")
                            </li>
                            <li>
                                @Translate.Message("L1304")
                            </li>
                            <li>
                                @Translate.Message("L1305")
                            </li>
                            <li>
                                @Translate.Message("L1306")
                            </li>
                            <li>
                                @Translate.Message("L1307")
                            </li>
                        </ul>
                        <p>@Translate.Message("L1332")</p>
                        <p>@Translate.Message("L1322")</p>
                        <ul>
                            <li>
                                @Translate.Message("L1327")
                            </li>
                            <li>
                                @Translate.Message("L1328")
                            </li>
                            <li>
                                @Translate.Message("L1329")
                            </li>
                        </ul>
                    </text>
                }
                else
                {
                    <text>
                        <p>@Translate.Message("L429")</p>
                        <ul>
                            <li>
                                @Translate.Message("L1299")
                            </li>
                            <li>
                                @Translate.Message("L1300")
                            </li>
                            <li>
                                @Translate.Message("L1301")
                            </li>
                            <li>
                                @Translate.Message("L1302")
                            </li>
                            <li>
                                @Translate.Message("L1303")
                            </li>
                            <li>
                                @Translate.Message("L1304")
                            </li>
                            <li>
                                @Translate.Message("L1305")
                            </li>
                            <li>
                                @Translate.Message("L1306")
                            </li>
                            <li>
                                @Translate.Message("L1307")
                            </li>
                        </ul>
                        <p>@Translate.Message("L430")</p>
                        <p>@Translate.Message("L1322")</p>
                        <ul>
                            <li>
                                @Translate.Message("L1327")
                            </li>
                            <li>
                                @Translate.Message("L1328")
                            </li>
                        </ul>
                    </text>
                }
            }
        </form>
    </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
