@using InterventWebApp;
@model InterventWebApp.RecommendationsModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<section class="main follow-up-grid recommendations action-plan-container @(ViewData["isPdf"] != null ? "pdf-print" : "")">
    <div class="grid-container">
        <div class="grid-x grid-margin-x tabular report-dashboard cac-score">
            <div class="cell">
                <h2>@Translate.Message("L695")</h2>
                <div class="panel">
                    <p>
                        @Translate.Message("L696") <a style='color:deepskyblue' href='@Url.Action("ReportsDashboard", "Reports")#mrf'>@Translate.Message("L697")</a>.
                    </p>
                    <p>
                        @Translate.Message("L10")
                    </p><p>
                        @Translate.Message("L1005")
                    </p>
                    @if (Model.pregnant == 1)
                    {
                        <p>
                            @Translate.Message("L2020")
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="tile-item with-padding remove-margin rec-modal exercise force-new-page">
        <div id="ExerciseRecommendationDiv"></div>
    </div>
    <div class="tabular tile-item with-padding force-new-page report-dashboard rec-modal cac-score">
        <div id="NutritionRecommendationDiv"></div>
    </div>
    <div class="tabular tile-item with-padding force-new-page report-dashboard rec-modal cac-score">
        <div id="SupplementRecommendationDiv"></div>
    </div>
	<div class="tile-item with-padding rec-modal">
        <div id="StressRecommendationDiv"></div>
	</div>
	<div class="tile-item with-padding rec-modal">
        <div id="TobaccoRecommendationDiv"></div>
	</div>
    <div class="tile-item with-padding rec-modal force-new-page">
        <div id="ExamsRecommendationDiv"></div>
    </div>
    <div class="tile-item with-padding rec-modal force-new-page">
        <div id="ReferralsDiv"></div>
    </div>
</section>



<script>
    function doPrint() {
        window.open("@Url.Action("PrintableReports", "Reports")" + '?view=DrSummary&generatePDF=false');
    }

    $(document).ready(function () {
        var isPdf = false;
        @if (ViewData["isPdf"] != null)
        {
            @: isPdf = true;
                }

        if(isPdf){
            $('.hide-for-print').hide();
            $('.show-for-print').removeClass('show-for-print');
            $('.user-layout').addClass('user-layout-print')
        }

        $.ajax({
            url: "@Url.Action("ExerciseRecommendation", "Reports", new { fromKit = false })",
            contentType: 'application/json, charset=utf-8',
            type: 'POST',
            success: function (data) {
                $('#ExerciseRecommendationDiv').html(data);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            RedirectToErrorPage(jqXHR.status);
        });

        $.ajax({
            url: "@Url.Action("NutritionRecommendation", "Reports")",
            contentType: 'application/json, charset=utf-8',
            type: 'POST',
            success: function (data) {
                $('#NutritionRecommendationDiv').html(data);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            RedirectToErrorPage(jqXHR.status);
        });

        $.ajax({
            url: "@Url.Action("SupplementRecommendation", "Reports")",
            contentType: 'application/json, charset=utf-8',
            type: 'POST',
            success: function (data) {
                $('#SupplementRecommendationDiv').html(data);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            RedirectToErrorPage(jqXHR.status);
        });

        $.ajax({
            url: "@Url.Action("StressRecommendation", "Reports")",
            contentType: 'application/json, charset=utf-8',
            type: 'POST',
            success: function (data) {
                $('#StressRecommendationDiv').html(data);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            RedirectToErrorPage(jqXHR.status);
        });

        $.ajax({
            url: "@Url.Action("TobaccoRecommendation", "Reports")",
            contentType: 'application/json, charset=utf-8',
            type: 'POST',
            success: function (data) {
                $('#TobaccoRecommendationDiv').html(data);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            RedirectToErrorPage(jqXHR.status);
        });

        $.ajax({
            url: "@Url.Action("ExamsRecommendation", "Reports")",
            contentType: 'application/json, charset=utf-8',
            type: 'POST',
            success: function (data) {
                $('#ExamsRecommendationDiv').html(data);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            RedirectToErrorPage(jqXHR.status);
        });
        
        $.ajax({
            url: "@Url.Action("Referrals", "Reports")",
            contentType: 'application/json, charset=utf-8',
            type: 'POST',
            success: function (data) {
                $('#ReferralsDiv').html(data);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            RedirectToErrorPage(jqXHR.status);
        });
    });
</script>