@using InterventWebApp
@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}
<section class="feature reversed intro compass info">
    @Html.Partial("Crothall/_CrothallHeader")
</section>

<!--Signup Modal-->
<div id="sign-up-modal" class="reveal small" data-reveal data-close-on-click="false" data-close-on-esc="false">
    <div class="cell medium-12">
        <h2 class="text-center">@Translate.Message("L431")</h2>
    </div>
    <div class="cell">@Html.Partial("_OldCompassSignUp")</div>
    <div class="cell text-center">
        <a href="#" onclick="$('#login-modal').foundation('open'); return false;">@Translate.Message("L426")</a>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</div>


<section class="container feature">
    <a name="employerrewards" class="compass anchor">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 medium-order-2 text-center">
                    <img src="~/images/Crothall-Logo.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7 medium-order-1">
                    <h2>@Translate.Message("L1348")</h2>
                    <h3>@Translate.Message("L1352")</h3>
                    <p>@string.Format(Translate.Message("L1353"), ViewData["Name"])</p>
                    <h3>@Translate.Message("L1354")</h3>
                    <p>
                        @string.Format(Translate.Message("L1355"), ViewData["Name"]):
                        <br />•	@Translate.Message("L1356")
                        <br />•	@Translate.Message("L1357")
                    </p>
                    <p>@Translate.Message("L1358")</p>
                </div>
            </div>  
        </div>
    </a>
</section>
<section class="container feature">
    <a name="interventincentives" class="compass anchor">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 text-center">
                    <img src="../Images/incentives.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7">
                    <h2>@Translate.Message("L1919")</h2>
                    <p>@Translate.Message("L1920").</p>
                    <div class="small-12 cell text-center">
                        <p class="more-link" href="#" onclick="$('#incentives').foundation('open'); return false;">
                            @Translate.Message("L1363")<span class="more"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>

</section>
<section class="container feature">
    <a name="healthassessment" class="compass anchor">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 medium-order-2 text-center">
                    <img src="../Images/assessment.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7 medium-order-1">
                    <h2>@Translate.Message("L535")</h2>
                    <p>@Translate.Message("L1904").</p>
                    <p>@Translate.Message("L1905").</p>
                    <p>@Translate.Message("L1906").</p>
                    <p>@string.Format(Translate.Message("L1907"), "1-877-498-0216").</p>
                </div>
            </div>
        </div>
    </a>
</section>

<section class="container feature">
    <a name="coachedprogram" class="compass anchor">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 text-center">
                    <img src="../Images/coaching.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7">
                    <h2>@Translate.Message("L1912")</h2>
                    <p>@Translate.Message("L1908").</p>
                    <p>@Translate.Message("L1909").</p>
                    <p>@Translate.Message("L1910").</p>
                    <p>@string.Format(Translate.Message("L1911"), "1-877-498-0216").</p>
                </div>
            </div>
        </div>
    </a>
</section>

<section class="container feature">
    <a name="selfhelpprograms" class="compass anchor">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 medium-order-2 text-center">
                    <img src="../Images/self-help.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7 medium-order-1">
                    <h2>@Translate.Message("L1913")</h2>
                    <p>@Translate.Message("L1914").</p>
                    <p>@Translate.Message("L1915").</p>
                    <p>@string.Format(Translate.Message("L1916"), TempData.Peek("OrgContactNumber").ToString()).</p>
                </div>
            </div>
        </div>
    </a>
</section>

<section class="container feature">
    <a name="whatsnew" class="compass anchor">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 text-center">
                    <img src="../Images/what's-new.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7">
                    <h2>@Translate.Message("L1350")</h2>
                    <h3>@Translate.Message("L1917")</h3>
                    <p>@string.Format(Translate.Message("L1918"), ViewData["Name"]).</p>
                    <div class="small-12 cell text-center">
                        <p class="more-link" href="#" onclick="$('#morestories').foundation('open'); return false;">
                            @Translate.Message("L1363")<span class="more"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</section>

<section class="container feature">
    <a name="cardiosmart" class="compass anchor">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 medium-order-2 text-center">
                    <img src="../Images/CardioSmart.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7 medium-order-1">
                    <h2>@Translate.Message("L2065")</h2>
                    <p>@Translate.Message("L2509")</p>
                    <p class="more-link" href="#" onclick="window.open('https://www.cardiosmart.org/') ">
                        @Translate.Message("L2473")
                    </p>
                </div>
            </div>
        </div>
    </a>
</section>


<section class="container feature">
    <a name="successstories" class="compass anchor">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 text-center">
                    <img src="../Images/success.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7">
                    <h2>@Translate.Message("L1351")</h2>
                    <h3>@Translate.Message("L1359")</h3>
                    <p>"<i>@Translate.Message("L1360")</i>"</p>
                </div>
            </div>
        </div>
    </a>
</section>

<div id="incentives" class="reveal large" data-reveal data-close-on-click="true">
    <h4>@Translate.Message("L1365"):</h4>
    <table class="table margin-top-1">
        <tr><th class="pink">@Translate.Message("L1731")</th><th class="pink">@Translate.Message("L1716")</th></tr>
        <tr><td>@Translate.Message("L535")</td><td>50 @Translate.Message("L1716")</td></tr>
        <tr><td>@Translate.Message("L1367")</td><td>200 @Translate.Message("L1716")</td></tr>
        <tr><td>@Translate.Message("L1368")</td><td>500 @Translate.Message("L1716")</td></tr>
        <tr><td>@Translate.Message("L1369")</td><td>250 @Translate.Message("L1716")</td></tr>
        <tr><td>@Translate.Message("L1370")</td><td>150 @Translate.Message("L1716")</td></tr>
        <tr><td>@Translate.Message("L2508")</td><td>200 @Translate.Message("L1716")</td></tr>
    </table>
    <h4>@Translate.Message("L1364"):</h4>
    <table class="table">
        <tr><th class="pink">@Translate.Message("L1371")</th><th class="pink">250</th><th class="pink">251-499</th><th class="pink">500-999</th><th class="pink">@Translate.Message("L1377")</th></tr>
        <tr><td>@String.Format(Translate.Message("L1372"), "$100")</td><td><i class="fa fa-close"></i></td><td><i class="fa fa-close"></i></td><td><i class="fa fa-close"></i></td><td><i class="fa fa-close"></i></td></tr>
        <tr><td>@String.Format(Translate.Message("L1373"), "$250")</td><td></td><td><i class="fa fa-close"></i></td><td><i class="fa fa-close"></i></td><td><i class="fa fa-close"></i></td></tr>
        <tr><td>@String.Format(Translate.Message("L1374"), "$500")</td><td></td><td></td><td><i class="fa fa-close"></i></td><td><i class="fa fa-close"></i></td></tr>
        <tr><td>@String.Format(Translate.Message("L1375"), "$1000")</td><td></td><td></td><td></td><td><i class="fa fa-close"></i></td></tr>
    </table>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div id="morestories" class="reveal small" data-reveal data-close-on-click="true">
    <video class="margin-top-1" width="100%" height="100%" controls>
        <source src="../Videos/Crothall.Tobacco.Presentation-20161025.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</div>