@using InterventWebApp
@{
    ViewBag.Title = "LandingPages";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
    ViewBag.Details = "LandingPage";
}

@Html.Partial("MCITheDoctorsOffice/_MCITheDoctorsOfficeHeader", new ViewDataDictionary(ViewData) { { "MenuClass", "" } })

<section class="lmc-prog-wrapper lmc-index title-casing">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 medium-4" data-sticky-container>
                <article class="lmc-sidebar sticky" data-sticky data-margin-top="3.75" data-btm-anchor="success-stories:bottom" data-sticky-on="small">
                    <div class="prog-sidebar-links">
                        <p>@Translate.Message("L3598")</p>

                        <ul>
                            <li class="is-active"><a href="#coached-section" data-offset="70"><img src="~/Images/lmc/lmc-icon-coach-prog.png" alt="">@Translate.Message("L1912")</a></li>
                            <li><a href="#self-help-section" data-offset="70"><img src="~/Images/lmc/lmc-icon-self-help.png" alt="">@Translate.Message("L1913")</a></li>
                        </ul>
                    </div>
                    <div class="prog-sidebar-links">
                        <p>@Translate.Message("L3602")</p>

                        <ul>
                            <li><a href="#health-section" data-offset="70"><img src="~/Images/lmc/lmc-icon-health-assess.png" alt="">@Translate.Message("L3603")</a></li>
                        </ul>
                    </div>

                    <div class="prog-sidebar-links">
                        <p>@Translate.Message("L1351")</p>

                        <ul>
                            <li><a href="#success-stories" data-offset="70"><img src="~/Images/assessment.svg" height="23" width="23" alt="">@Translate.Message("L1351")</a></li>
                        </ul>
                    </div>

                </article>
            </div>

            <div class="cell large-9 medium-8">
                <section class="prog-detail-section lmc-accordion-sec" id="coached-section">
                    <div class="title-section">
                        <div class="title-content">
                            <h3><span>@Translate.Message("L3598")</span>@Translate.Message("L3604")</h3>
                        </div>
                    </div>

                    <div class="content-section">
                        <ul class="accordion" data-accordion data-allow-all-closed="true">
                            <li class="accordion-item white-container prog-detail-section is-active" data-accordion-item>
                                <!-- Accordion tab title -->
                                <a href="#" class="accordion-title">@Translate.Message("L1912")</a>

                                <div class="accordion-content" data-tab-content>
                                    <p>@Translate.Message("L1908").</p>
                                    <p>@Translate.Message("L1909").</p>
                                    <p>Please call INTERVENT at 855-494-1093 to enroll in a program.</p>
                                </div>
                            </li>

                            <li class="accordion-item white-container prog-detail-section" data-accordion-item id="self-help-section">
                                <!-- Accordion tab title -->
                                <a href="#" class="accordion-title">@Translate.Message("L1913")</a>

                                <div class="accordion-content" data-tab-content>
                                    <p>@Translate.Message("L1914").</p>
                                    <p>@Translate.Message("L1915").</p>
                                    <p>@string.Format(Translate.Message("L1916"), TempData.Peek("OrgContactNumber").ToString()).</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <!--Programs accordion section ends-->

                <section class="prog-detail-section lmc-health-asses-sec" id="health-section">
                    <div class="title-section">
                        <div class="title-content">
                            <h3><span>@Translate.Message("L3602")</span>@Translate.Message("L3603")</h3>
                            <p>
                            <p>
                                @Translate.Message("L2470")
                                <a href="#" class="read-more-link">@Translate.Message("L3646")</a><br /><br />
                                <span class="read-more-content">@Translate.Message("L2471")</span><br /><br />
                                <span class="read-more-content">@Translate.Message("L2472")</span><br /><br />
                            </p>
                        </div>
                        <div class="title-image"><img src="~/Images/lmc/lmc-health-assess.png" alt="" /></div>
                    </div>
                </section>
                <!--Health Assessment section ends-->

                <section class="prog-detail-section lmc-success-stories" id="success-stories">
                    <div class="grid-container">
                        <div class="grid-x grid-margin-x align-middle">
                            <div class="cell medium-5">
                                <h2>@Translate.Message("L3676")</h2>
                            </div>

                            <div class="cell medium-6 medium-offset-1">
                                <p>@Translate.Message("L2729")</p>
                                <div class="orbit" role="region" aria-label="Success stories" data-orbit data-use-m-u-i="false">
                                    <div class="orbit-wrapper">
                                        <ul class="orbit-container">
                                            <li class="is-active orbit-slide">
                                                <div class="slider-content">
                                                    <ul class="checkmark green listinside">
                                                        <li>“My participation with INTERVENT and my coach has been very beneficial. The goal was to manage workplace stress and overall wellness of mind and body. My coach tailored a program that keeps me engaged and informed on best practices while helping me achieve my goals. The support from a great coach has inspired me to fully participate and utilize the program and all the tools. I especially benefited from the relaxation/ meditation program as well as the stretching instructions. I have seen the fruits of my labor and I am excited to continue the program.”</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="orbit-slide">
                                                <div class="slider-content">
                                                    <ul class="checkmark green listinside">
                                                        <li>“My coach has been a great coach through my INTERVENT experience. She has answered questions and offered a lot of helpful advice. She has taught me things about nutrition that I have always found hard to understand. Because of her I am now keeping track of my glucose levels and my blood pressure on a daily basis. She was an enormous help when I was beginning the program in how to deal with stress. I'm usually not a stressful person, but there was a period of time that I had so much going on at the same time. She helped me get through that as an educator, support person, and just someone to vent to. I am very appreciative of her support as well as the entire INTERVENT program.”</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="orbit-slide">
                                                <div class="slider-content">
                                                    <ul class="checkmark green listinside">
                                                        <li>“I work full-time as a nurse and I'm also pursuing a master’s degree in nursing. Since joining the program eight months ago I've lost 64 pounds and dropped five dress sizes. My 10-year old daughter has also lost 15 pounds because our family now eats healthier foods. We never felt like we were “dieting.” I used to eat candy bars for breakfast. Now I eat three meals a day. Every day I bring my lunch from home. It’s all a matter of planning ahead. I've even found healthy choices at fast food restaurants. I've increased my physical activity by taking the stairs and parking farther from the entrance to buildings. As a result of this program, my confidence has improved and I have a tremendous amount of energy.”</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="orbit-controls">
                                        <nav class="orbit-bullets">
                                            <button class="is-active" data-slide="0"></button>
                                            <button data-slide="1"></button>
                                            <button data-slide="2"></button>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Success Stories section ends-->


            </div>
        </div>
    </div>

    <section class="take-step-section text-center">
        <h2>@Translate.Message("L3651")</h2>
        <div class="button-group align-center">
            <button onclick="window.location.href = '../Home/MCITheDoctorsOffice?signup='+ true;" class="button hide-for-small-only">@Translate.Message("L3652")</button>
            <button data-open="lmc-mobile-signup" class="button show-for-small-only">@Translate.Message("L3652")</button>
            <button onclick="window.location.href = '../Home/MCITheDoctorsOffice';" class="button hollow hide-for-small-only">@Translate.Message("L2084")</button>
            <button data-open="login-modal" class="button hollow show-for-small-only">@Translate.Message("L2084")</button>
        </div>
    </section>
</section>

<div id="lmc-mobile-signup" class="reveal lmc-form" data-reveal data-close-on-click="false" data-close-on-esc="false">
    @Html.Partial("_UpdatedSignUp")
    <a class="close-button" data-close id="close">&#215;</a>
</div>

@Html.Partial("_ResetPassword", new ViewDataDictionary(ViewData) { { "LMCClass", "lmc-forgot-password" } })

@Html.Partial("_EmailConfirmation", new ViewDataDictionary(ViewData) { { "LMCClass", "lmc-forgot-password" } })

@Html.Partial("_ForgotPassword", new ViewDataDictionary(ViewData) { { "LMCClass", "lmc-forgot-password" } })

@Html.Partial("_NewLogin", new ViewDataDictionary(ViewData) { { "ShowSignUp", "True" } })

@Html.Partial("_ResendConfirmEmail", new ViewDataDictionary(ViewData) { { "LMCClass", "lmc-forgot-password" } })


<script>
    $(document).ready(function () {
        $(".prog-sidebar-links li a").on('click', function (e) {
            e.preventDefault();

            //Scroll to respective section
            var hash = $(this).attr("href");
            var topMargin = parseInt($(this).attr("data-offset"));

            $('html, body').animate({
                scrollTop: $(hash).position().top - topMargin
            }, 800);

            //Highlighting the active menu item
            if (!$(this).parent("li").hasClass("is-active")) {
                $(".prog-sidebar-links li").removeClass("is-active");
                $(this).parent("li").addClass("is-active");
            }

            if ($(window).width() < 641) {
                $("p.mobile-dropdown").toggleClass("is-active");
                $(this).parents("article.lmc-sidebar").toggleClass("is-active");
            }
        });

        $(window).on('scroll', function () {
            $('.prog-detail-section').each(function () {
                if ($(window).scrollTop() >= $(this).offset().top - 180) {
                    var id = $(this).attr('id');
                    $('.prog-sidebar-links ul li').removeClass('is-active');
                    $('.prog-sidebar-links ul li a[href="#' + id + '"]').parent('li').addClass('is-active');
                }
            });
        });

        $(".prog-sidebar-links p").on('click', function () {
            if ($(window).width() < 641) {
                $(this).toggleClass("is-active");
                $(this).parents("article.lmc-sidebar").toggleClass("is-active");
            }
        });

        $("a.read-more-link").on('click', function (e) {
            e.preventDefault();
            $(this).hide();
            $(this).siblings("span.read-more-content").show();
        });

        $("ul.accordion li a.accordion-title").on("click", function () {
            $("[data-accordion]").on("down.zf.accordion", function () {
                var titleId = $("ul.accordion li.is-active").attr("id");
                $('html, body').animate({
                    scrollTop: $("#" + titleId).position().top - 70
                }, 800);
            });

        });
    });
</script>