@using InterventWebApp

<section class="parallax-wrapper optifast">
    <section class="feature">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 text-center">
                    <img class="smaller" src="~/Images/scale.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7">
                    <h2>@Translate.Message("L2615")</h2>
                    <p>@Translate.Message("L2616")</p>
                </div>
            </div>
        </div>
    </section>
    <section class="feature flipped">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5  medium-order-2 text-center">
                    <img class="smaller" src="~/Images/shaker.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7 medium-order-1">
                    <h2>@Translate.Message("L2621")</h2>
                    <p>
                        @Translate.Message("L2622")
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="feature">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 text-center">
                    <img src="~/Images/health-professionals.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7">
                    <h2>@Translate.Message("L2623")</h2>
                    <p>
                        @Translate.Message("L2624")
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="feature flipped">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5  medium-order-2 text-center">
                    <img class="smaller" src="~/Images/on-the-go.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7 medium-order-1">
                    <h2>@Translate.Message("L2625")</h2>
                    <p>
                        @Translate.Message("L2626")
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="feature">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5 text-center">
                    <img class="smaller" src="~/Images/piggy-bank.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7">
                    <h2>@Translate.Message("L2617")</h2>
                    <p>@Translate.Message("L2618")</p>
                </div>
            </div>
        </div>
    </section>
    <section class="feature flipped">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="feature-icon cell medium-5  medium-order-2 text-center">
                    <img class="smaller" src="~/Images/money.svg" alt="" />
                </div>
                <div class="feature-info cell medium-7 medium-order-1">
                    <h2>@Translate.Message("L2619")</h2>
                    <p>
                        @Translate.Message("L2620")
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="feature final">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell text-center">
                    <img class="smaller" src="~/Images/calendar.svg" alt="" />
                    <h2>@Translate.Message("L2627")</h2>
                </div>
            </div>
        </div>
    </section>
</section>
