@using InterventWebApp
@model InterventWebApp.LoginModel

@{
	ViewBag.Title = "LandingPages";
	Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
	ViewBag.Details = "LandingPage";
}
<section class="feature reversed intro compass mcallen optifast">
    @Html.Partial("Optifast/_OptifastHeader", new ViewDataDictionary(ViewData) { { "headerStyle", "transparent" } })
    <div class="grid-container">
        <div class="intro-body grid-x grid-margin-x">
            <div class="intro-text small-7 large-offset-5 cell">
                <h2 class="text-center">
                    @Translate.Message("L2628")
                </h2>
                 <div class="intro-buttons mcallen-main-buttons">
                    <button class="intro-button pink" onclick="$('#sign-up-modal').foundation('open'); return false;">
                        @Translate.Message("L2437")
                    </button>
                    <button class="intro-button pink" onclick="$('#login-modal').foundation('open'); return false;">@Translate.Message("L426")</button>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("Optifast/_OptifastFooter")
<div id="sign-up-modal" class="reveal small" data-reveal data-close-on-click="false" data-close-on-esc="false">
    <div class="cell medium-12">
        <h2 class="text-center">@Translate.Message("L431")</h2>
    </div>
    <div class="cell">@Html.Partial("_SignUp")</div>
    <div class="cell text-center">
        <a href="#" onclick="$('#login-modal').foundation('open'); return false;">@Translate.Message("L426")</a>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>



@Html.Partial("_ResetPassword")

<div class="nav-to-top">
    <a href="#" class="button"><i class="fa fa-chevron-up"></i></a>
</div>

@section scripts
{
    <script type="text/javascript">
    //Homepage Scroll function
        function scrollDown() {
            $('html, body').animate({
                scrollTop: $(".parallax-wrapper").offset().top
            }, 1000);
        }

        $(document).on('click', '#close', function () {
            document.getElementById("sign-up-form").reset();
        });
    </script>
}