@using InterventWebApp
@model InterventWebApp.ChangePasswordModel

<form data-abide id="changepassword-form" novalidate>
    <h2 class="text-center">@Translate.Message("L243")</h2>
    <div data-alert id="password-error" class="callout hide">
        <a href="#" class="close">&times;</a>
    </div>
    <div data-alert id="password-success" class="callout hide">
        <a href="#" class="close">&times;</a>
    </div>
    <div id="password-details">
        <div class="grid-x">
            <div class="cell">
                <label for="OldPassword">@Translate.Message("L244"):</label>
                @Html.PasswordFor(x => x.OldPassword, new Dictionary<string, object> { { "id", "OldPassword" }, { "placeholder", Translate.Message("L244") }, { "required", "required" } })
                <small class="form-error">@Translate.Message("L1928")</small>
            </div>
            <div class="form-password-field cell">
                <label for="NewPassword">@Translate.Message("L252"):</label>
                @Html.PasswordFor(x => x.NewPassword, new Dictionary<string, object> { { "id", "NewPassword" }, { "placeholder", Translate.Message("L252") }, { "required", "required" }, { "pattern", "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).{8,}$" } })
                <small class="form-error">@Translate.Message("L1929")</small>
                <div class="password-req-list">
                    <p>@Translate.Message("L4269")</p>
                    <ul>
                        <li class="upper-char"><span>@Translate.Message("L4270")</span></li>
                        <li class="lower-char"><span>@Translate.Message("L4271")</span></li>
                        <li class="number-char"><span>@Translate.Message("L4272")</span></li>
                        <li class="min-length"><span>@Translate.Message("L4273")</span></li>
                    </ul>
                </div>
            </div>
            <div class="cell">
                <label for="ConfirmPassword">@Translate.Message("L253"):</label>
                @Html.PasswordFor(x => x.ConfirmPassword, new Dictionary<string, object> { { "id", "ConfirmPassword" }, { "placeholder", Translate.Message("L253") }, { "required", "required" }, { "data-equalto", "NewPassword" } })
                <small class="form-error">@Translate.Message("L263")</small>
            </div>
            <div class="cell medium-4 medium-offset-4">
                <button class="expanded button" type="submit" id="change">
                    @Translate.Message("L1930")
                </button>
            </div>
        </div>
    </div>
    <a class="close-button" data-close>&#215;</a>
</form>
<script type="text/javascript" src="@Url.Content("~/Scripts/PasswordValidation.js")?v=@CommonUtility.GetRandom()"></script>
<script>
    $("#changepassword-form").foundation();
    $('#changepassword-form')
        .on('forminvalid.zf.abide', function () {
            var invalid_fields = $(this).find('[data-invalid]');
            if (invalid_fields) {
                var scrollTo = $('#' + invalid_fields[0].id).offset().top;
                $('html, body').animate({
                    scrollTop: scrollTo
                }, 400);
            }
        })
        .on('formvalid.zf.abide', function () {
            $("#OldPassword").val(window.btoa(Math.random().toString(36).substring(2, 8) + $("#OldPassword").val()));
            $("#NewPassword").val(window.btoa(Math.random().toString(36).substring(2, 8) + $("#NewPassword").val()));
            $("#ConfirmPassword").val(window.btoa(Math.random().toString(36).substring(2, 8) + $("#ConfirmPassword").val()));
            $.ajax({
                url: "@Url.Action("ChangePassword", "Account")",
                type: 'POST',
                dataType: "json",
                data: $("#changepassword-form").serialize(),
                success: function (data) {
                    document.getElementById("changepassword-form").reset();
                    if (data.Success) {
                        $('#changepassword-form').find('#password-error').addClass('hide');
                        $('#changepassword-form').find('#password-success').removeClass('hide');
                        $("#password-success").text(data.SuccessMessage);
                        //$("#password-details").hide()
                    }
                    else {
                        $("#password-error").html(data.ErrorMessage);
                        $('#changepassword-form').find('#password-error').removeClass('hide');
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                    RedirectToErrorPage(jqXHR.status);
                });
        }).on("submit", function (ev) {
            ev.preventDefault();

        });
</script>