@using InterventWebApp
<table width="100%">
    <tbody>
        <tr>
            <td> @Translate.Message("L3823")</td>
        </tr>
        <tr>
            <td> @Translate.Message("L3824")</td>
        </tr>
        <tr>
            <td>@Translate.Message("L3825")</td>
        </tr>
        <tr>
            <td>@Translate.Message("L3826")</td>
        </tr>
        <tr>
            <td>@Translate.Message("L3827")</td>
        </tr>
        <tr>
            <td>@Translate.Message("L3828")</td>
        </tr>
        <tr>
            <td>@Translate.Message("L3829")</td>
        </tr>
        <tr>
            <td>@Translate.Message("L3830")</td>
        </tr>
        <tr>
            <td>@Translate.Message("L3831")</td>
        </tr>
    </tbody>
</table>
