@using InterventWebApp
<div class="cell small-12">
    <div class="exercise-levels">
        <div class="main-level title">
            <div class="description">@Translate.Message("L2191")</div>
            <div class="levels">
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">@Translate.Message("L2192")</div>
                    </div>
                    <span>@Translate.Message("L2193")</span>
                </div>
            </div>
        </div>
        <div class="main-level light">
            <div class="description">
                <ul class="decorated blue">
                    <li>@Translate.Message("L2194")</li>
                    <li>@Translate.Message("L2195")</li>
                    <li>@Translate.Message("L2196")</li>
                </ul>
            </div>
            <div class="levels">
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">6</div>
                    </div>
                    <span></span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">7</div>
                    </div>
                    <span>@Translate.Message("L2197")</span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">8</div>
                    </div>
                    <span></span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">9</div>
                    </div>
                    <span>@Translate.Message("L2198")</span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">10</div>
                    </div>
                    <span></span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">11</div>
                    </div>
                    <span>@Translate.Message("L2199")</span>
                </div>
            </div>
        </div>
        <div class="main-level intermediate">
            <div class="description">
                <ul class="decorated blue">
                    <li>@Translate.Message("L2200")</li>
                    <li>@Translate.Message("L2201")</li>
                </ul>
            </div>
            <div class="levels">
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">12</div>
                    </div>
                    <span></span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">13</div>
                    </div>
                    <span>@Translate.Message("L2202")</span>
                </div>
            </div>
        </div>
        <div class="main-level hard">
            <div class="description">
                <ul class="decorated blue">
                    <li>@Translate.Message("L2203")</li>
                    <li>@Translate.Message("L2204")</li>
                </ul>
            </div>
            <div class="levels">
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">14</div>
                    </div>
                    <span></span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">15</div>
                    </div>
                    <span>@Translate.Message("L2205")</span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">16</div>
                    </div>
                    <span></span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">17</div>
                    </div>
                    <span>@Translate.Message("L2206")</span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">18</div>
                    </div>
                    <span></span>
                </div>
                <div class="level">
                    <div class="level-entries">
                        <div class="entry">18</div>
                        <div class="entry">19</div>
                        <div class="entry">20</div>
                    </div>
                    <span>@Translate.Message("L2207")</span>
                </div>
            </div>
        </div>
    </div>
</div>
