@using InterventWebApp

<section class="parallax-wrapper">
	<section class="feature flipped">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="feature-icon cell medium-5 medium-order-2 text-center">
					<img src="~/Images/HandsHeartpinkblue.svg" alt="" />
				</div>
				<div class="feature-info cell medium-7 medium-order-1">
					<h2>Welcome Emirates NBD, Emirates Islamic and Tanfeeth</h2>
					<p>Learn valuable information about your health by completing the INTERVENT health assessment. It’s free, easy to do and completely confidential. Don’t delay – do it today!</p>
				</div>
			</div>
		</div>
	</section>
	<section class="feature">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="feature-icon cell medium-5 text-center">
					<img class="smaller" src="~/Images/wellness_report.svg" alt="" />
				</div>
				<div class="feature-info cell medium-7">
					<h2>@Translate.Message("L446")</h2>
					<p>@Translate.Message("L1378")</p>
				</div>
			</div>
		</div>
	</section>
	<section class="feature flipped">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="feature-icon cell medium-5 medium-order-2 text-center">
					<img src="~/Images/wellness-dials.svg" alt="" />
				</div>
				<div class="feature-info cell medium-7 medium-order-1">
					<h2>Discover Your Wellness Score and Heart Age</h2>
					<p>
                        See how you measure up to others like you. Find out the difference between your actual age and heart age – and what could happen if you led a healthier life.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="feature">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="feature-icon cell medium-5 text-center">
					<img src="~/Images/coaching.svg" alt="" />
				</div>
				<div class="feature-info cell medium-7">
					<h2>Know Your Risk Factors</h2>
					<p>
                        Learn your risk factors for preventable chronic conditions, such as heart disease, stroke, diabetes and cancer. See your personalized risk reduction goals.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="feature">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="feature-icon cell medium-5 medium-order-2 text-center">
					<img class="smaller" src="~/Images/goals.svg" alt="" />
				</div>
				<div class="feature-info cell medium-7 medium-order-1">
					<h2>@Translate.Message("L2045")</h2>
					<p>
                        View key action steps for goal achievement and brief health-related educational content. There’s even a summary report to share with your doctor.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="feature">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="feature-icon cell medium-5 text-center">
					<img class="smaller" src="~/Images/on-the-go.svg" alt="" />
				</div>
				<div class="feature-info cell medium-7">
					<h2>@Translate.Message("L459")</h2>
					<p>@Translate.Message("L1345").</p>
				</div>
			</div>
		</div>
	</section>
	<section class="feature final">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="cell text-center">
					<img src="~/images/start-now.svg" alt="" />
					<h2>@Translate.Message("L1346")</h2>
				</div>
			</div>
		</div>
	</section>
</section>
