@using InterventWebApp

<!--Forgot Password Modal-->
@{string className = ViewData["LMCClass"] != null ? ViewData["LMCClass"].ToString() : "";}
<div id="forgot-password-modal" class="reveal medium @className" data-reveal data-close-on-click="false" data-close-on-esc="false">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-12">
                @{ string title = Model != null ? Translate.Message("L3110") : Translate.Message("L465"); }
                <h2 class="text-center">@title</h2>
                <div data-alert id="email-not-found" class="callout alert-box alert hide">
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
            <div class="cell">
                <form id="forgot-password-form" data-abide novalidate>
                    <div class="grid-x grid-margin-x">
                        <div class="cell">
                            <p>@Translate.Message("L469")</p>
                            <input type="email" id="forgotPassEmail" placeholder="@Translate.Message("L1632")" required>
                            <small class="form-error">@Translate.Message("L463")</small>
                        </div>
                        <div class="cell">
                            <button type="submit" class="pink expanded button">
                                <div class="loading-spinner hide" show-if-submitting></div>
                                @Translate.Message("L470")
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <a class="close-button" data-close>&#215;</a>
        </div>
    </div>
    <!-- Preloader-->
    <div id="loader-wrapper" class="hide">
        <div id="loader"></div>
    </div>
</div>
<div data-alert id="email-found" class="alert-box success hide alert-dismissible">
    @Translate.Message("L468")
    <a class="close-button" id="mailSent" data-close>&#215;</a>
</div>
<script type="text/javascript">
    //FORGOT PASSWORD FORM
    $(document).ready(function () {
        $('#forgot-password-form').foundation();
        $('#forgot-password-form')
            //When Not Valid
            .on('forminvalid.zf.abide', function () {
                var invalid_fields = $(this).find('[data-invalid]');
                console.log(invalid_fields);
            })
            //When Valid
            .on('formvalid.zf.abide', function () {
                $("#loader-wrapper").removeClass("hide");
                $("#loader-wrapper").fadeIn();
                $.ajax({
                    url: "@Url.Action("ForgotPassword", "Account")",
                    type: 'POST',
                    dataType: "json",
                    data: {
                        email: $("#forgotPassEmail").val(),
                         OrgContactEmail: $('#supportEmail').val()
                    },
                    success: function (data) {
                        $("#loader-wrapper").fadeOut();
                        if (data == 'success') {
                            $('#email-found').removeClass('hide');
                            $('#forgot-password-modal button').remove();
                            $('#forgot-password-modal input').remove();
                            $('#forgot-password-modal p').remove();
                            $('#forgot-password-modal').foundation('close');
                        }
                        else if (data == "confirmEmail") {
                            var email = $("#forgotPassEmail").val();
                            $('#resend-email-modal').find("#email").text(email);
                            $('#resend-email-modal').find("#emailId").val(email)
                            $('#resend-email-modal').foundation('open');
                        }
                        else {
                            $("#email-not-found").html(data);
                            $('#forgot-password-modal button').remove();
                            $('#forgot-password-modal input').remove();
                            $('#forgot-password-modal p').remove();
                            $('#forgot-password-modal').find('#email-not-found').removeClass('hide');
                        }
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    RedirectToErrorPage(jqXHR.status);
                });
            }).on('submit',function(e){
                   e.preventDefault();
            });
    });

    $("#mailSent").on('click', function(){
         $('#email-found').addClass('hide');
    });
</script>
