@using InterventWebApp

<div>
    <div id="signup-error" class="callout alert-box alert hide" data-closable>
        @Translate.Message("L1931")
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="cell" id="sign-up-form" data-abide novalidate>
        <input type="hidden" id="organizationId" name="OrganizationId" value="@ViewData["OrgId"]" />
        <input type="hidden" id="organizationEmail" name="OrganizationEmail" value="@TempData.Peek("OrgContactEmail").ToString()" />
        <div class="cell medium-6">
            <input type="text" id="firstName" name="FirstName" placeholder="@Translate.Message("L938")" required pattern="[a-zA-Z]+">
            <small class="form-error">@Translate.Message("L432")</small>
        </div>
        <div class="cell medium-6">
            <input type="text" id="lastName" name="LastName" placeholder="@Translate.Message("L939")" required pattern="[a-zA-Z]+">
            <small class="form-error">@Translate.Message("L433").</small>
        </div>
        <div class="small-12 cell">
            <input type="text" id="newDOB" name="DOB" placeholder="@string.Format(Translate.Message("L1362"), ViewData["DateFormat"])" class="fdatepicker" data-validator="validateInAGE" required>
            <small id="inAgeError" class="form-error">@Translate.Message("L1903")</small>
        </div>
        <div class="cell small-12">
            <input type="email" id="signupemail" name="EmailAddress" placeholder="@Translate.Message("L986")" onchange="$('#confirmsignupemail').trigger('change');" required>
            <small class="form-error">@Translate.Message("L434")</small>
        </div>
        <div class="cell small-12">
            <input id="confirmsignupemail" type="email" placeholder="@Translate.Message("L2468")" data-validator="validateConfirmEmail" class="preventCutCopyPaste" required>
            <small id="errconfirmemail" class="form-error">@Translate.Message("L2469")</small>
        </div>
        <div class="small-12 cell noemail" style="display:none">
            <input type="text" id="UserName" placeholder="@Translate.Message("L1625")" pattern="[a-zA-Z]+" autocomplete="off">
            <small class="form-error">@Translate.Message("L435")</small>
        </div>
        @*<div class="small-12 cell noemail" style="display:none">
                <input type="text" id="PhoneNumber" placeholder="@Translate.Message("L1626")" pattern="^(\*\d{1,2}\s)?\(?\d{3}\)?[\s.-]*\d{3}[\s.-]*\d{4}$" autocomplete="off">
                <small class="form-error">@Translate.Message("L436")</small>
            </div>*@
        <div class="cell small-12">
            <input type="password" id="password" name="Password" placeholder="@Translate.Message("L1627")" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$"
                   required autocomplete="off" data-tooltip data-allow-html="true" data-position="top" data-alignment="left" aria-haspopup="true" class="has-tip tip-top" title="@Translate.Message("L1929")">
            <small class="form-error" data-error-message>@Translate.Message("L1929")</small>
        </div>
        <div class="cell small-12">
            <input type="password" placeholder="@Translate.Message("L1628")" data-equalto="password" id="confirmpassword" class="preventCutCopyPaste">
            <small class="form-error">@Translate.Message("L438")</small>
        </div>
        <div class="small-12 cell">
            <input type="text" id="CouponCode" name="CouponCode" placeholder="@Translate.Message("L1629")" required autocomplete="off">
            <small class="form-error">@Translate.Message("L439")</small>
        </div>
        <div class="small-12 cell">
            <input type="checkbox" id="serviceagreement" required> @Translate.Message("L441") <a href="#" onclick="ServiceAgreement(true);">@Translate.Message("L440")</a>
            <small class="form-error">@Translate.Message("L442")</small>
        </div>
        <div class="cell">
            <button type="submit" class="pink expand">@Translate.Message("L443")</button>
        </div>
        <input type="hidden" id="SignUpDate" name="SignUpDate" value="" />
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

</div>
<!-- Error Modal-->
<div id="error-modal" class="reveal small" data-reveal>
    <div class="grid-x grid-margin-x">
        <div class="cell small-12">
            <h2 class="text-center"></h2>
            <p>
                <span id="error-message-genericmodal"></span>
            </p>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/AgeValidation.js")?v=@CommonUtility.GetRandom()"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/RegistrationSignIn.js")?v=@CommonUtility.GetRandom()"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DateFormatter.js")?v=@CommonUtility.GetRandom()"></script>
<script type="text/javascript">
    Foundation.Abide.defaults.validators['validateInAGE'] = function ($el, required, parent) {
        var DOB = $("#newDOB").val();
        var valid = validateage(DOB);
        if (valid == false) {
            $("#inAgeError").text('@InterventWebApp.Translate.Message("L1986")');
            return valid;
        }
        else
            return valid;
    };
    Foundation.Abide.defaults.validators['validateConfirmEmail'] = function ($el, required, parent) {
        var email = $("#signupemail").val();
        var confirmemail = $("#confirmsignupemail").val();
        if (email.toUpperCase() === confirmemail.toUpperCase())
            return true;
        else
            return false;
    };
    $(document).ready(function () {
        DateFormatter("newDOB", "@ViewData["DateFormat"]");
        var startDOB = new Date();
        startDOB.setFullYear(startDOB.getFullYear() - 100);
        $('.fdatepicker').fdatepicker({
            format: "@ViewData["DateFormat"].ToString().ToLower()",
            disableDblClickSelection: true,
            pickTime: false,
            startDate: startDOB,
            onRender: function (date) {
                return date.valueOf() > Date.now() ? 'disabled' : '';
            }
        });
        $('#sign-up-form').foundation();
        $('#sign-up-form')
            .on('forminvalid.zf.abide', function () {
                var invalid_fields = $(this).find('[data-invalid]');
                console.log(invalid_fields);
            })
            .on('formvalid.zf.abide', function () {
                if (document.getElementById('serviceagreement').checked) {
                    $("#sign-up-form").find('input[id="password"]').val(window.btoa(Math.random().toString(36).substring(2, 8) + $("#sign-up-form").find('input[id="password"]').val()));
                    $('#SignUpDate').val(toSystemDateFormat(new Date().toLocaleDateString()));
                    $.ajax({
                        url: "@Url.Action("Register", "Account")",
                        type: 'POST',
                        dataType: "json",
                        data: $("#sign-up-form").serialize(),
                        success: function (data) {
                            var password = $('#password').val();
                            $("#sign-up-form").find('input[id="password"]').val("");
                            $("#sign-up-form").find('input[id="password"]').trigger('keypress');
                            $("#sign-up-form").find('input[id="password"]').trigger('keyup');
                            $("#sign-up-form").find('input[id="confirmpassword"]').val("");
                            if (data.Success) {
                                var username = $('#signupemail').val();
                                var organizationEmail = $('#supportEmail').val();
                                var loginURL = "@Url.Action("Login", "Account")";
                                var streamURL = "@Url.Action("Stream", "Participant")";
                                validateSignIn(data, username, password, organizationEmail, loginURL, streamURL);
                                $('#sign-up-modal').foundation('close');
                                $('.register-modal-email').text($('#signupemail').val());
                                document.getElementById("sign-up-form").reset();
                            }
                            else {
                                $('#sign-up-modal').find('#signup-error').removeClass('hide');
                                $('#sign-up-modal').find('#signup-error').text(data.ErrorMessage);
                            }
                        }
                    }).error(function (jqXHR, textStatus, errorThrown) {
                            DisplayError(jqXHR.status);
                      });
                }
            }).on('submit',function(e){
                   e.preventDefault();
            });
    });
</script>