@using InterventWebApp
@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}
<section class="lmc-index lmc-wrapper title-casing service-content">
    <section class="lmc-login">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <p>
                        INTERVENT’s app's use of information received from Google APIs will adhere to the <a href='https://developers.google.com/terms/api-services-user-data-policy#additional_requirements_for_specific_api_scopes' style='color:deepskyblue'>Google API Services User Data Policy</a>, including the Limited Use requirements.
                    </p>
                    <h4>
                        @Translate.Message("L1836")
                    </h4>
                    <p>
                        @Translate.Message("L1837")
                    </p>
                    <ul>
                        <li>@Translate.Message("L1838")</li>
                        <li>@Translate.Message("L1839")</li>
                        <li>@Translate.Message("L1840")</li>
                        <li>@Translate.Message("L1841")</li>
                        <li>@Translate.Message("L1842")</li>
                        <li>@Translate.Message("L1843")</li>
                    </ul>
                    <p>
                        @Translate.Message("L1844")
                    </p>
                    <ul>
                        <li>@Translate.Message("L1845")</li>
                        <li>@Translate.Message("L1846")</li>
                        <li>@Translate.Message("L1847")</li>
                        <li>@Translate.Message("L1848")</li>
                        <li>@Translate.Message("L1849")</li>
                        <li>@Translate.Message("L1850")</li>
                        <li>@Translate.Message("L1851")</li>
                    </ul>
                    <p>
                        @Translate.Message("L1852")
                    </p>
                    <p>
                        @Translate.Message("L1853")
                    </p>
                    <p>
                        @Translate.Message("L1854")
                    </p>
                    <p>
                        @Translate.Message("L1855")
                    </p>
                    <p>
                        @Translate.Message("L1856")
                    </p>
                    <h4>
                        @Translate.Message("L1863")
                    </h4>
                    <p>
                        @Translate.Message("L1864")
                    </p>
                    <h4>
                        @Translate.Message("L1865")
                    </h4>
                    <h5>
                        @Translate.Message("L1866")
                    </h5>
                    <br />
                    <h5>
                        @Translate.Message("L1791")
                    </h5>
                    <p>
                        @Translate.Message("L1792").
                    </p>
                    <h3>
                        Privacy Policy
                    </h3>
                    <p>
                        @Translate.Message("L1815")
                    </p>
                    <p>
                        INTERVENT provides a privacy policy (“Policy”) to describe how we collect, use, disclose, and otherwise process individually identifiable information (“Personal Information”) that we obtain via our sites and app. Visit <a href='https://www.myintervent.com/Home/ServiceAgreement?modal=false#privacy' style='color:deepskyblue'>https://www.myintervent.com/Home/ServiceAgreement?modal=false#privacy</a> to read our full policy.
                    </p>
                    <h4>
                        @Translate.Message("L1824")
                    </h4>
                    <p>
                        When you use our app and other INTERVENT Sites, we send a cookie. Cookies are small files recorded by your Internet browser that retain information about your Site visits. We use two types of cookies, namely, session, and persistent cookies. They help us to identify your browser, to remember your web preferences and to recognize you when you move from page to page within our Site. Cookies and similar files that we place on your computer do not contain any Personal Information unless it is encrypted. You can configure your Internet browser to reject (disable) cookies. However, if you do so, you might not be able to access certain pages or use important functions on the Site.
                    <p>
                            @Translate.Message("L1826")
                    </p>

                    <h5>@Translate.Message("L1827")</h5>
                    <p>
                            @Translate.Message("L1828")
                    </p>

                    <h5>@Translate.Message("L1829")</h5>
                    <p>
                            @Translate.Message("L1830")
                    </p>

                    <h5>
                            @Translate.Message("L1831")
                    </h5>

                    <p>
                            @Translate.Message("L1833")
                    </p>
                    <h5>
                            @Translate.Message("L1834")
                    </h5>
                    <p>
                            @Translate.Message("L1835")
                    </p>
                    <h4>
                        Terms of Service
                    </h4>
                    <p>
                        The INTERVENT app, myintervent.com, interventint.com, interventhealth.com, and other sites that include the "intervent" name ("Site" or "Sites") are Internet-based online services owned and operated by INTERVENT INTERNATIONAL, LLC ("INTERVENT") that provide (a) access to the INTERVENT scientifically-based assessments, programs and products for the prevention and management of cardiovascular and other chronic diseases (the "Products"), (b) information regarding wellness and disease management (the "Information"), and (c) communication services related to wellness and disease management topics ("Communication Services" and, collectively with the Products and Information, the "Services") to users of a Site ("User" or "Users"). INTERVENT is a company that specializes in (a) scientifically-based assessments, programs and products for the prevention and management of cardiovascular and other chronic diseases, (b) information regarding wellness, lifestyle management and disease management, and (c) communication services related to wellness, lifestyle management and disease management topics. BY ACCESSING OR USING a Site or the Products or Services, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT (the "Agreement"). IF YOU DO NOT WISH TO BE BOUND BY THIS Agreement, YOU MAY NOT ACCESS OR USE a Site. INTERVENT MAY MODIFY THIS Agreement AT ANY TIME, AND SUCH MODIFICATION SHALL BE EFFECTIVE IMMEDIATELY UPON EITHER POSTING OF THE MODIFIED Agreement OR NOTIFYING YOU. YOU AGREE TO REVIEW THIS AGREEMENT PERIODICALLY TO ENSURE THAT YOU ARE AWARE OF ANY MODIFICATIONS. YOUR CONTINUED ACCESS OR USE OF a Site SHALL BE DEEMED YOUR CONCLUSIVE ACCEPTANCE OF THE MODIFIED Agreement.
                    </p>
                    <p>
                        Please view our full terms of service <a href='https://www.myintervent.com/serviceagreement' style='color:deepskyblue'>here</a>.
                    </p>
                </div>
            </div>

        </div>

    </section>
</section>