@using InterventWebApp

<div data-sticky-container class="header-blue">
    <div class="contain-to-grid sticky" data-sticky data-stick-to="top" data-margin-top="0" data-sticky-on="small">
        <div class="menu-white-bg"></div>
        <nav class="top-bar lmc-nav-bar" data-topbar role="navigation">
            <div class="title-bar" data-responsive-toggle="lmc-mobile-menu" data-hide-for="large">
                <button class="menu-icon" type="button" data-toggle="lmc-mobile-menu"></button>
            </div>
            <h1 class="menu-text"><a href="~/Home/LifeHealthcare"><img src="~/Images/lmc/lmc-logo.png" /></a></h1>
            <div class="lmc-menu-items" id="lmc-mobile-menu">
                <ul class="menu vertical large-horizontal main-menu" data-responsive-menu="accordion large-dropdown">
                    <li class="small-order-1"><a href="~/Home/LifeHealthcarePrograms">@Translate.Message("L3597")</a></li>
                    <li class="curve-bg small-order-1"><a href="#"><img src="~/Images/footer-call-icon.png" alt="" /> @TempData.Peek("OrgContactNumber").ToString()</a></li>
                    <li class="@ViewData["MenuClass"] white-bg large-order-1 small-order-2 hide-for-small-only"><a href="~/Home/LifeHealthcare"><img src="~/Images/lmc/menu-signin-icon.png" alt="" /> @Translate.Message("L2084")</a></li>
                    <li class="lmc-menu-hidden white-bg large-order-1 small-order-2 show-for-small-only"><a data-open="login-modal"><img src="~/Images/lmc/menu-signin-icon.png" alt="" /> @Translate.Message("L2084")</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("button.menu-icon").on('click', function () {
            $(this).toggleClass("menu-icon-close");
        });
    });
</script>
