@using InterventWebApp
@model InterventWebApp.LoginModel
@{
	ViewBag.Title = "LandingPages";
	Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
	ViewBag.Details = "LandingPage";
}

@Html.Partial("LifeHealthcare/_LifeHealthcareHeader", new ViewDataDictionary(ViewData) { { "OrgId", ViewData["OrgId"] }, { "MenuClass", "lmc-menu-hidden" } })

<section class="lmc-index lmc-wrapper">
	<section class="lmc-login">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell large-11">
					<div class="grid-x grid-margin-x">
						<div class="cell medium-6 canadian-prevention life-healthcare">
							<div class="canadian-img hide-for-small-only"><p><img src="~/Images/LifeHealthcare.png" alt="" /></p></div>
							<div class="canadian-content">
								<h1><img src="~/Images/LifeHealthcare.png" alt="" class="show-for-small-only" /> @Translate.Message("L1893")</h1>
								<div class="brought-by-box">
									<p>@Translate.Message("L3722")</p>
									<a href="#"><img src="~/Images/CardiacExcellence.png" alt="" /></a>
								</div>
							</div>
							<img src="~/Images/lmc/bicycle-girl.svg" alt="" class="bicycle-girl" />

						</div>
						<div class="cell medium-6 large-5 large-offset-1">
							<form id="inline-login-form" class="hide-for-small-only" data-abide novalidate>
								<!--Login Form-->
								<div class="form-white-bg form-login-box">
									<div data-alert="" id="inline-login-form-inline-login-error" class="callout alert alert-box hide"></div>
									<input type="hidden" id="organizationEmail" name="OrganizationEmail" value="@TempData.Peek("OrgContactEmail").ToString()" />
									<div>
										<label>@Translate.Message("L572")</label>
										@Html.TextBoxFor(m => m.UserName, new Dictionary<string, object> { { "placeholder", Translate.Message("L986") }, { "required", "required" }, { "id", "loginUserName" } })
										<small class="form-error">@Translate.Message("L463")</small>
									</div>

									<div class="password-field-box">
										<label>@Translate.Message("L466")</label>
										@Html.PasswordFor(m => m.Password, new Dictionary<string, object> { { "placeholder", Translate.Message("L466") }, { "required", "required" } })
										<span class="toggle-password fa fa-fw fa-eye"></span>
										<small class="form-error">@Translate.Message("L464")</small>
									</div>

									<input class="DeviceId" type="hidden" id="DeviceId" name="DeviceId" value="" />

									<p><a href="#" data-open="forgot-password-modal">@Translate.Message("L465")</a></p>

									<div class="lmc-login-container">
										<button type="submit" class="button expanded" disabled>
											<div class="loading-spinner hide" show-if-submitting></div>
											@Translate.Message("L426")
										</button>
									</div>
								</div>
							</form>
							
							<div id="device-verification-inline-login-form"></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Login section ends-->

	<section class="lmc-offers-section">
		<div class="grid-container">
			<div class="grid-x grid-margin-x text-center" data-equalizer>
				<div class="cell medium-4">
					<div class="column-container">
						<img src="~/Images/lmc/columns-image-1.png" alt="" />
						<h4 data-equalizer-watch>@Translate.Message("L3224")</h4>
						<p data-equalizer-watch>@Translate.Message("L3225")</p>
					</div>
				</div>
				<div class="cell medium-4">
					<div class="column-container">
						<img src="~/Images/lmc/columns-image-2.png" alt="" />
						<h4 data-equalizer-watch>@Translate.Message("L3226")</h4>
						<p data-equalizer-watch>@Translate.Message("L454")</p>
					</div>
				</div>
				<div class="cell medium-4">
					<div class="column-container">
						<img src="~/Images/lmc/columns-image-3.png" alt="" />
						<h4 data-equalizer-watch>@Translate.Message("L3228")</h4>
						<p data-equalizer-watch>@Translate.Message("L3229")</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="lmc-contact-section">
		<div class="grid-container">
			<div class="grid-x align-center">
				<div class="cell large-6 medium-9">
					<h2>@Translate.Message("L3460")</h2>
					<form id="contact-form" data-abide novalidate>
						<div class="grid-x grid-margin-x grid-margin-y">
							<input type="hidden" id="organizationEmail" name="OrganizationEmail" value="@TempData.Peek("OrgContactEmail").ToString()" />
							<input type="hidden" id="subject" name="subject" value="Life Healthcare" />
							<div class="cell medium-6">
								<label>@Translate.Message("L3233")</label>
								<input type="text" id="name" name="name" required />
								<small class="form-error">@Translate.Message("L480")</small>
							</div>
							<div class="cell medium-6">
								<label>@Translate.Message("L572")</label>
								<input type="email" id="email" name="email" required />
								<small class="form-error">@Translate.Message("L480")</small>
							</div>
							<div class="cell">
								<label>@Translate.Message("L3234")</label>
								<textarea id="meassage" name="meassage" required></textarea>
								<small class="form-error">@Translate.Message("L480")</small>
							</div>
							<div class="cell text-center">
								<button type="submit" class="button">@Translate.Message("L3235")</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--Contact section ends-->

	<section class="lmc-get-started">
		<div class="grid-container">
			<div class="grid-x align-center">
				<div class="cell large-6 medium-9 text-center ">
					<h2>@Translate.Message("L3680")</h2>
				</div>
			</div>
		</div>
	</section>
	<!--Get started section ends-->
</section>

<!-- Error Modal-->
<div id="error-modal" class="reveal small" data-reveal>
	<div class="grid-x grid-margin-x">
		<div class="cell small-12">
			<h2 class="text-center"></h2>
			<p>
				<span id="error-message-genericmodal"></span>
			</p>
		</div>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>

</div>

@Html.Partial("_ResetPassword", new ViewDataDictionary(ViewData) { { "LMCClass", "lmc-forgot-password" }, { "DateFormat", "" + ViewData["DateFormat"] + "" } })

@Html.Partial("_EmailConfirmation", new ViewDataDictionary(ViewData) { { "LMCClass", "lmc-forgot-password" } })

@Html.Partial("_ForgotPassword", new ViewDataDictionary(ViewData) { { "LMCClass", "lmc-forgot-password" } })

@Html.Partial("_Login", new ViewDataDictionary(ViewData) { { "ShowSignUp", "False" }, { "LMCClass", "lmc-forgot-password" } })

@Html.Partial("_ResendConfirmEmail", new ViewDataDictionary(ViewData) { { "LMCClass", "lmc-forgot-password" } })

<script>
    $(document).ready(function () {

        $('#contact-form').foundation();
        $('#contact-form')
            //When Not Valid
            .on('forminvalid.zf.abide', function () {
            })
            //When Valid
            .on('formvalid.zf.abide', function () {
                $.ajax({
                    url: "@Url.Action("SendUserMessage", "Home")",
                    type: 'POST',
                    dataType: "json",
                    data: $("#contact-form").serialize(),
                    success: function (data) {
                        if (data == "success") {
                            $('#contact-form :input').val("");
                            alert("@Translate.Message("L3461")");
                        }
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    DisplayError(jqXHR.status);
                });
            }).on("submit", function (ev) {
                    ev.preventDefault();
            })
            $('#inline-login-form').foundation();
            $('#inline-login-form')
            //When Not Valid
            .on('forminvalid.zf.abide', function () {
                var invalid_fields = $(this).find('[data-invalid]');
                console.log(invalid_fields);
            })
            //When Valid
            .on('formvalid.zf.abide', function () {
                $("#loader-wrapper").removeClass("hide");
				$("#loader-wrapper").fadeIn();
                $("#inline-login-form").find('input[name="Password"]').val(window.btoa(Math.random().toString(36).substring(2, 8) + $("#inline-login-form").find('input[name="Password"]').val()));
                $('[show-if-submitting]').parent().prop('disabled', 'disabled');
                $('[show-if-submitting]').removeClass('hide');
                $.ajax({
                    url: "@Url.Action("Login", "Account")",
                    type: 'POST',
                    dataType: "json",
                    data: $("#inline-login-form").serialize(),
					success: function (data) {
                        $("#inline-login-form").find('input[name="Password"]').val("");
                        if (data == "success") {
                            window.location.href = "@Url.Action("Stream", "Participant")";
                        }
                        else if (data == "confirmEmail") {
                            var email = $("#loginUserName").val();
                            $('[show-if-submitting]').parent().prop('disabled', '');
                            $('[show-if-submitting]').addClass('hide');
                            $('#resend-email-modal').find("#email").text(email);
                            $('#resend-email-modal').find("#emailId").val(email)
                            $('#resend-email-modal').foundation('open');
                            $("#loader-wrapper").addClass("hide");
                        }
                        else {
                            $("#inline-login-error").html(data);
                            $('#inline-login-error').removeClass('hide');
                            $('[show-if-submitting]').parent().prop('disabled', '');
                            $('[show-if-submitting]').addClass('hide');
                            $("#loader-wrapper").addClass("hide");
                        }
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                        DisplayError(jqXHR.status);
                    });
            }).on("submit", function (ev) {
                    ev.preventDefault();
            })
            if ("@ViewData["SignUp"]" == "True")
            {
                $("#inlineSignUp").trigger('click');
            }
    });

</script>

<script>
	$(".form-signup-box h3 img").on('click', function () {
		$(this).parents(".form-signup-box").addClass("hide");
		$(".form-login-box").removeClass("hide");
	});

	$(".form-login-box .lmc-join-container a").on('click', function (e) {
		e.preventDefault();
		$(this).parents(".form-login-box").addClass("hide");
		$(".form-signup-box").removeClass("hide");
	});
</script>